/* -------------------------------------------------------- */
/* VARIABLES */
/* -------------------------------------------------------- */

:root {
  /* Named Colors */
  --off-black: rgb(40, 40, 40);
  --medium-off-black: rgb(30, 30, 30);
  --darker-off-black: rgb(20, 20, 20);

  --lavender: rgb(205, 163, 220);
  --pink: rgb(220, 138, 221);
  --cream: rgb(245, 245, 220);
  --red-orange: rgb(246, 97, 81);
  --grape-purple: rgb(97, 53, 131);

  --pastel-light-green: rgb(143, 240, 168);
  --pastel-dark-green: rgb(46, 194, 125);
  --dark-green: rgb(0, 100, 0);
  --darker-green: rgb(0, 75, 0);

  --rainbow-red: rgb(255, 0, 0);
  --rainbow-orange: rgb(255, 165, 0);
  --rainbow-yellow: rgb(255, 255, 0);
  --rainbow-green: rgb(0, 128, 0);
  --rainbow-blue: rgb(0, 0, 255);
  --rainbow-indigo: rgb(75, 0, 130);
  --rainbow-violet: rgb(238, 130, 238);
  --rainbow-gradient: linear-gradient(
      45deg, 
      var(--rainbow-red), 
      var(--rainbow-orange), 
      var(--rainbow-yellow), 
      var(--rainbow-green), 
      var(--rainbow-blue), 
      var(--rainbow-indigo), 
      var(--rainbow-violet));

  /* Background Colors: */
  --global-background: var(--medium-off-black);
  --background-color: var(--global-background);
  --content-background-color: var(--global-background);
  --sidebar-background-color: var(--global-background);
  --footer-background-color: var(--global-background);

  /* old link colors: */
  --color-link: var(--pastel-light-green);
  --color-link-visited: var(--pastel-dark-green);

  /* standardized colors */
  --border-color: var(--darker-green);
  
  --text-color: white;
  --sidebar-text-color: var(--pastel-light-green);
  --sub-header-text-color: var(--lavender);

  --accent-color: var(--grape-purple);
  

  /* Text: */
  --font: Arial, sans-serif;
  --heading-font: Georgia, serif;
  --font-size: 14px;

  /* Other Settings: */
  --margin: 10px;
  --grid-gap: 5px;
  --padding: 1vh;
  --double-border: 4px double var(--border-color);
  --single-border: 2px solid var(--border-color);
  --rainbow-border: 10px solid var(--rainbow-gradient);
  --round-borders: 15px;
  --sidebar-width: 160px;
}

/* -------------------------------------------------------- */
/* BASICS */
/* -------------------------------------------------------- */

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  font-size: var(--font-size);
  margin: 0;
  padding: var(--margin);
  color: var(--text-color);
  font-family: var(--font);
  line-height: 1.2;
  background-image: url("./backgrounds/anistars.gif");
  background-attachment: fixed;
  overscroll-behavior: none;
}

::selection {
  background: rgba(0, 0, 0, 0.2);
}

smaller {
  font-size: xx-small;
}

div.center {
  text-align: center;
}

/* -------------------------------------------------------- */
/* LAYOUT */
/* -------------------------------------------------------- */

.layout {
  width: 1000px;
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template:
    "header header" auto 
    "leftSidebar main" auto 
    "footer footer" auto 
    / var(--sidebar-width) auto;
}

main {
  grid-area: main;
  overflow-y: auto;
  padding: var(--padding);
  background: var(--content-background-color);
  border: var(--double-border);
  border-radius: var(--round-borders);
}

/* -------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------- */

header {
  grid-area: header;
  font-size: 1.2em;
  border: var(--double-border);
  border-radius: var(--round-borders);
  background: var(--global-background);
  margin-top: 3vh;
  text-align: center;
}

header h3 {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: .25em;
  line-height: 1.5;
  text-align: center;
  line-break: auto;
  display: block;
  text-decoration: wavy;
  color: var(--sub-header-text-color);
}

header h5 {
  margin-bottom: 0;
  margin-top: 0;
  line-height: .75;
  text-align: center;
  line-break: auto;
  display: block;
  font-weight: normal;
}

.header-content {
  padding: var(--padding);
  padding-bottom: 5px;
}

.header-title {
  font-family: var(--heading-font);
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.header-image img {
  width: 100%;
  height: auto;
}

/* -------------------------------------------------------- */
/* SIDEBARS */
/* -------------------------------------------------------- */

aside {
  grid-area: aside;
  font-size: medium;
  border: var(--double-border);
  border-radius: var(--round-borders);
  overflow: hidden;
  background: var(--sidebar-background-color);
  padding: var(--padding);
  color: var(--sidebar-text-color);
}

aside a:link {
  color: var(--sidebar-text-color)
}

aside a:visited {
  color: var(--color-link-visited);
}

aside a:hover {
  font-style: italic;
}

aside h4 {
  font-family: var(--heading-font);
  margin-bottom: 0;
  margin-top: 0;
  line-height: 2;
  text-align: center;
  line-break: auto;
  display: block;
  color: var(--text-color);
}

aside.left-sidebar {
  grid-area: leftSidebar;
}

aside div.container {
  display: flex;
  width: auto;
  height: 1em;
  padding: 0;
  padding-bottom: .25em;
  padding-left: .4em;
  border: 0;
}

aside div.nav-text {
  flex-grow: 1;
  height: auto;
  padding: 0;
  border: 0;
  text-align: center;
  display: block;
  margin-left: .125em;
}

aside div.frame {
  width: 1em;
  height: 1em;
  padding: 0;
  border: 0;
}

aside div.frame img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
}

/* -------------------------------------------------------- */
/* CONTENT */
/* -------------------------------------------------------- */

main {
  line-height: 1.5;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 60vh;
  max-height: 75vh;
}

main a, main a:visited {
  color: var(--link-color);
}

main a:hover, main a:focus {
  color: var(--link-color-hover);
  text-decoration-style: wavy;
}

main div.rainbow-linebreak-wrap {
  width: 1fr;
  padding: 3rem;
  background: var(--rainbow-gradient);
  padding: 3px;
  border-radius: var(--round-borders);
  width: 1fr;
  margin-bottom: 1rem;
}

main div.rainbow-linebreak {
  font-size: 2em;
  font-style: italic;
  background: var(--background-color);
  border-radius: var(--round-borders);
}

main div.rainbow-box-wrap {
  width: 1fr;
  padding: 3rem;
  background: var(--rainbow-gradient);
  padding: 3px;
  border-radius: var(--round-borders);
  margin-bottom: 1rem;
}

main div.rainbow-box {
  font-size: 2em;
  font-style: italic;
  background: var(--background-color);
  border-radius: var(--round-borders);
}

main div.GridImg2Text3 {
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 20px;
  padding: 10px;
  font-size: 2em;
  overflow: hidden;
}

main div.EntryImg2Text3 {
  width: auto;
  margin: 0px;
}

main div.GridImg2Text3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: var(--single-border); 
  border-color: var(--accent-color);
}

main div.Text3 {
  width: auto;
}

main div.grid-thirds {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 3fr 3fr 3fr;
  column-gap: 10px;
  overflow: hidden;
}

main div.grid-thirds-entry {
  width: 100%;
  overflow: hidden;
  margin: 0px;
  text-align: center;
  box-sizing: border-box;
}

main div.content-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 10px;
}

main div.content-grid-entry {
  box-sizing: border-box;
  width: auto;
  overflow: auto;
  margin: 0px;
}

main div.blogTitle {
  box-sizing: border-box;
  font-weight: bold;
  padding-left: 10px;
  border-radius: 10px;
  border-image-slice: 1;
  font-size: 2em;
  background: var(--background-color);
  border-radius: var(--round-borders);
}

main div.blogText {
  box-sizing: border-box;
  /* border-top: var(--double-border); */
  border: var(--rainbow-border);
  border-image-slice: 1c;
  padding-top: .5em;
  padding-bottom: 1em;
  margin-left: 10px;
  margin-right: 10px;
}

/* -------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------- */

footer {
  grid-area: footer;
  border: var(--double-border);
  border-radius: var(--round-borders);
  overflow: hidden;
  font-size: 0.75em;
  padding: 15px;
  background: var(--content-background-color);
  display: flex;
  justify-content: center;
}

/* -------------------------------------------------------- */
/* MOBILE RESPONSIVE (Genuienly no idea how this works)*/ 
/* -------------------------------------------------------- */

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .layout {
    width: 100%;
    grid-template: "header" auto  "main" auto "leftSidebar" auto "footer" auto / 1fr;
  }


  .right-sidebar {
    display: none;
  }

  aside {
    border-bottom: 1px solid;
    padding: 9px;
    font-size: 0.9em;
  }


  nav {
    padding: 0;
  }

  nav > ul {
    padding-top: 0.5em;
  }

  nav > ul li > a,
  nav > ul li > details summary,
  nav > ul li > strong {
    padding: 0.5em;
  }

  main {
    max-height: none;
    padding: 15px;
  }

  .images {
    flex-wrap: wrap;
  }

  .images img {
    width: 100%;
  }

  #skip-to-content-link {
  font-size: 1rem;
  }
}